In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Col1': [100, 200, 300],
    'Col2': [400, 500, 600],
    'Col3': [700, 800, 900]
}, index=['fila1', 'fila2', 'fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900