In [1]:
import pandas as pd

df1 = pd.DataFrame({'Salario': [30000, 45000, 38000],
                    'Antigüedad': [9, 13, 12]},
                   index=[1, 2, 3])
df2 = pd.DataFrame({'Ciudad': ['Madrid', 'Barcelona', 'Valencia'],
                    'Jerarquía': ['Baja', 'Alta', 'Media']},
                   index=[1, 2, 4])

In [2]:
df1

   Salario  Antigüedad
1    30000           9
2    45000          13
3    38000          12

In [3]:
df2

      Ciudad Jerarquía
1     Madrid      Baja
2  Barcelona      Alta
4   Valencia     Media