In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Nombre': ["Juan", "Gabriela", "Elena"], 'Edad': [23, 31, 21]})
df1

     Nombre  Edad
0      Juan    23
1  Gabriela    31
2     Elena    21

In [3]:
df2 = pd.DataFrame({'Nombre': ["Carmela", "Max", "Laura"], 'Edad': [34, 25, 29]})
df2

    Nombre  Edad
0  Carmela    34
1      Max    25
2    Laura    29