In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Nombre': ['Ana', 'Luis', 'Carlos']})
df2 = pd.DataFrame({'ID': [1, 2, 4],
                    'Edad': [25, 30, 22]})

In [3]:
df1

   ID  Nombre
0   1     Ana
1   2    Luis
2   3  Carlos

In [4]:
df2

   ID  Edad
0   1    25
1   2    30
2   4    22