In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [2]:
df = pd.DataFrame({
    "etiquetas":['Manzanas', 'Bananas', 'Naranjas', 'Uvas'],
    "cantidad":[30, 60, 80, 20]
})
df

  etiquetas  cantidad
0  Manzanas        30
1   Bananas        60
2  Naranjas        80
3      Uvas        20