# Limpieza de Datos

Durante la preparación de nuestros datos (antes de poder usarlos para hacer análisis y ciencia de datos) hay un proceso fundamental que se llama **limpieza de datos**. Si no limpiamos adecuadamente nuestros datos, corremos el riesgo de que luego contaminen el resultado de nuestros análisis.

La limpieza de datos es un proceso que no puedes obviar, porque la mayoría de las veces, los datos provienen de fuentes externas, y nada te garantiza que los creadores de esos registros hayan seguido protocolos estrictos al generar esa información.

La limpieza de datos implica hacer procedimientos como:
* identificación de valores faltantes o nulos
* manejo de esos valores
* manejo de tipos de datos inapropiados
* eliminación de duplicados

En esta lección vamos a aprender a realizar algunas tareas básicas de limpieza de datos utilizando Pandas en Python. 

Vamos a usar un conjunto de datos muy sencillo, pero apropiado como ejemplo, y que representa una pequeña tabla de ventas.

In [1]:
import pandas as pd

data = {"Id_producto": [1001, 1002, 1003, 1003],
        "Cantidad_vendida": [30, None, 25, 25],
        "Precio": [20.5, 15.0, None, 22.5]}

df = pd.DataFrame(data)
df

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

### Paso 1: Exploración

Usaremos los métodos de dataframes que ya hemos aprendido, para identificar la estructura y calidad de nuestros datos de origen:

In [ ]:
df.head()

In [ ]:
df.info()

### Paso 2: Identificar Valores Faltantes (nulos)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

### Paso 2: Manejo de Valores Faltantes

Aquí llega el momento de tomar decisiones. No hay soluciones únicas, sino que siempre va a depender del caso. En ocasiones querrás eliminar las filas con datos inválidos. En ocasiones querrás reemplazarlos por otros valores.

##### Opción 1 - Eliminar registros que contienen valores nulos

In [ ]:
df_eliminados = df.dropna()
df_eliminados

##### Opción 2: Reemplazar los Valores Nulos con Otros Valores

In [ ]:
valores_nuevos = {"Cantidad_vendida": 0, "Precio":df["Precio"].mean()}
df_rellenados = df.fillna(valores_nuevos)
df_rellenados

### Paso 3: Corrección de Tipos de Datos

In [ ]:
df_rellenados["Cantidad_vendida"] = df_rellenados["Cantidad_vendida"].astype(int)
df_rellenados

### Paso 4: Eliminación de Duplicados

In [ ]:
df_unicos = df_rellenados.drop_duplicates()
df_unicos

En este caso no funcionó, porque buscó registros completos que estén duplicados. Si queremos eliminar los duplicados que se repitan sólo en uno de los campos, usamos el parámetro `subset`.

In [ ]:
df_unicos = df_rellenados.drop_duplicates(subset="Id_producto")
df_unicos