# Series

Refresquemos: Pandas trabaja con dos tipos de datos, que son los **dataframes** y las **series**. En esta lección vamos a conocer mejor a las series.

Vamos a trabajar con el mismo dataset que hemos usado antes.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/Win10/Downloads/00 - FEDE/Udemy/Python para Data Science/Día 6/4 - DataFrames/Precipitaciones.csv")
df.head()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7

Ahora vamos a seleccionar la serie *"Región"* para trabajar en esta lección.

In [ ]:
serie = df["region"]
serie.head()

Conceptualmente una Serie en Pandas es un **arreglo unidimensional** (es decir, de una sola dimensión), que es capaz de almacenar cualquier tipo de datos.

Como hemos visto, las series tienen un **índice** asociado a cada **registro**. Esto significa que aunque parece que tuviera dos columnas (la del **índice** y la de los **datos**), solo se trata de una, ya que **el índice no es información**, sino una etiqueta pegada a la información propiamente dicha.

Si bien podemos crear una serie a partir de un dataframe (como acabo de hacer), también puedes **crear series a partir de objetos de python** como listas, usando el método **Series()** de Pandas.

In [ ]:
datos = [10, 20, 30, 40, 50]
serie2 = pd.Series(datos)
serie2

Puedes ver que cada elemento de la lista se ha transformado en un item de mi Serie, y que a cada elemento **se le ha asignado un índice numérico comenzando desde cero**, porque eso es lo que hacen las series.

Pero un tip interesante, es que si quieres puedes **asignar índices personalizados** a tus series, a través del parámetro *"index"* de las Series.

In [ ]:
indices = ["a", "b", "c", "d", "e"]
serie2 = pd.Series(datos,indices)
serie2

A partir de ahora, puedo tomar elementos de esta serie aplicando mi índice personalizado.

In [ ]:
serie2["b"]

Y sólo para sacarnos la duda, comprobemos los **tipos de datos** que estamos manejando aquí

In [ ]:
type(serie2)

In [ ]:
type(serie2["b"])

Una curiosidad extra, es lo que sucede cuando creamos series a partir de **diccionarios**:

In [ ]:
capitales = {"España": "Madrid", "Perú": "Lima", "Argentina": "Buenos Aires"}
serie3 = pd.Series(capitales)
serie3

Como puedes ver, en estos casos las **claves** se transforman automáticamente en **índices alfabéticos**.

También puedo indexarlos usando esos índices.

In [ ]:
serie3["Perú"]