# Abrir y Escribir Archivos Externos desde Pandas

Hasta el momento hemos creado nuestros dataframes de dos formas posibles:
* creando nuestros propios DataFrames de manera manual
* leyendo archivos CSV

En esta lección te quiero mostrar que también podemos leer archivos de múltiples orígenes.

Si escribes `pd.read` y presionas **TAB**, vas a ver una serie de métodos que sirven para *leer* (read) diferentes fuentes de datos.

Vamos a practicar esto, abriendo archivos **Excel** y **csv**. Para ello te pide que primero descargues los archivos que vienen junto a esta lección, y que crees dos variables que contengan las rutas de estos archivos.

In [1]:
import pandas as pd

In [2]:
ruta_excel = 'C:/Users/Win10/Downloads/00 - FEDE/Udemy/Python para Data Science/Día 7/8 - Abrir y Escribir Archivos Externos desde Pandas/Compras_desde_ads.xlsx'
ruta_xml = 'C:/Users/Win10/Downloads/00 - FEDE/Udemy/Python para Data Science/Día 7/8 - Abrir y Escribir Archivos Externos desde Pandas/Valores de acciones.xml'

Ahora sí, vamos a usar el método `read_excel()` para leer el primero de ellos...

In [3]:
df1 = pd.read_excel(ruta_excel)
df1.head()

   Id_usuario     Genero  Edad  Salario_estimado  Comprado
0    15624510  Masculino    19             19000         0
1    15810944  Masculino    35             20000         0
2    15668575   Femenino    26             43000         0
3    15603246   Femenino    27             57000         0
4    15804002  Masculino    19             76000         0

... y el método `read_xml()` para leer el segundo.

In [4]:
df2 = pd.read_xml(ruta_xml)
df2.head(5)

         date closingValue
0  01-05-2023        25,05
1  02-05-2023        24,45
2  03-05-2023        24,45
3  04-05-2023        23,98
4  05-05-2023        24,56

Y no solo podemos usar Pandas para abrir archivos que ya existen, sino que también podemos **crear nuevos archivos excel, csv o lo que sea**, a partir de los DataFrames que ya tenemos en Pandas.

Vamos a crear un DataFrame simple, y veamos cómo lo guardamos en archivos excel y csv.

In [5]:
numeros = {
    'romanos': ['I', 'II', 'III', 'IV'],
    'arabigos': [1, 2, 3, 4],
    'texto': ['uno', 'dos', 'tres', 'cuatro']
}

In [6]:
df = pd.DataFrame(numeros)
df

  romanos  arabigos   texto
0       I         1     uno
1      II         2     dos
2     III         3    tres
3      IV         4  cuatro

Antes de guesrdarlo, le agreguemos una columna de **Fechas**, solo para aplicar eso que aprendimos a hacer en la lección anterior.

In [7]:
df['Fechas'] = pd.Series(pd.date_range('20240101', periods=4))
df

  romanos  arabigos   texto     Fechas
0       I         1     uno 2024-01-01
1      II         2     dos 2024-01-02
2     III         3    tres 2024-01-03
3      IV         4  cuatro 2024-01-04

Ok, ahora ya tengo mi DataFrame, pero este conjunto de datos solo existe en Pandas, y por lo tanto en python, en mi cuaderno jupyter.

Ahora quiero tenerlo en un archivo de excel. ¿cómo hacemos eso?

In [8]:
df.to_excel('C:/Users/Win10/Downloads/00 - FEDE/Udemy/Python para Data Science/Día 7/8 - Abrir y Escribir Archivos Externos desde Pandas/Archivos Creados/numeros2.xlsx', index=False)

¿Y en CSV?

In [9]:
df.to_csv('C:/Users/Win10/Downloads/00 - FEDE/Udemy/Python para Data Science/Día 7/8 - Abrir y Escribir Archivos Externos desde Pandas/Archivos Creados/numeros3.csv', index=False)

También es importante que sepas que desde Pandas podemos leer datos que se encuentren en una **base de datos SQL**, y también podemos **escribir bases de datos** directamente desde Pandas.

Pero a eso lo vamos a ver más adelante en una sección completamente dedicada a bases de datos.