# Combinar DataFrames con join()

Presta atención a este concepto porque puede parecer un poco confuso, ya que **combinar DataFrames** suena muy parecido a **fusionar DataFrames**, que es lo que hicimos en la lección anterior.

Lo que hicimos antes fue **fusionar**, y lo hicimos con el método `merge()`, y se trata de identificar una columna similar entre dos DataFrames y unirlos a partir de esa columna coincidente.

En esta lección no vamos a fusionar sino a **combinar**, para lo cual usaremos el método `join()`. Combinar consiste en unir dos dataframes pero **a partir de su índice, o de una columna clave**, y no de columnas compartidas.

Para hacer esto vamos a crear dos DataFrames de ejemplo, que a pesar de no tener columnas similares, pertenecen al mismo conjunto de registros.

In [1]:
import pandas as pd

df1 = pd.DataFrame({'Salario': [30000, 45000, 38000],
                    'Antigüedad': [9, 13, 12]},
                   index=[1, 2, 3])
df2 = pd.DataFrame({'Ciudad': ['Madrid', 'Barcelona', 'Valencia'],
                    'Jerarquía': ['Baja', 'Alta', 'Media']},
                   index=[1, 2, 4])

In [2]:
df1

   Salario  Antigüedad
1    30000           9
2    45000          13
3    38000          12

In [3]:
df2

      Ciudad Jerarquía
1     Madrid      Baja
2  Barcelona      Alta
4   Valencia     Media

Entonces por más que nuestros dataframes no tengan columnas similares, vamos a unirlas confiando en que su número de índice implica que los registros se corresponden entre sí, o que una columna del DataFrame original puede relacionarse con los datos del DataFrame combinado.

In [4]:
df_unido = df1.join(df2)
df_unido

   Salario  Antigüedad     Ciudad Jerarquía
1    30000           9     Madrid      Baja
2    45000          13  Barcelona      Alta
3    38000          12        NaN       NaN

El caso de `join()` también es distinto a `merge()`, en cuanto a que `join()` viene por defecto con el parámetro `how=left`. Por esa razón puedes ver que en el ejemplo anterior, se ha preservado al DataFrame original (`df1`), y solo ha agregado los valores de `df2` que coinciden con los del primero.

Por supuesto que podemos cambiar el parámetro `how` según nuestras necesidades.

In [5]:
df_unido = df1.join(df2, how='inner')
df_unido

   Salario  Antigüedad     Ciudad Jerarquía
1    30000           9     Madrid      Baja
2    45000          13  Barcelona      Alta

Prueba los distintos argumentos de `how` por ti mismo, y con esto, hemos visto cómo combinar dataframes con `join()`.